// SUBSCRIBE
form{
    & *{
        border: none;
        width: 100%;
        height: 45px;
        font-size: 12px;

    }
    #email{
        background: rgb(242, 242, 242);
        color: #3a3a3a;
        padding: 0 10px;
        display: block;
        margin-bottom: 15px;
    }
    input:last-of-type{
        cursor: pointer;
        background: #ff0303;
        color: #fff;
        text-transform: uppercase;

    }
}